

@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1A498F;
    font-family: 'Aboreto', cursive;
    font-size: 1.25em;
}
.start h1 {
    color: white;
    font-weight: 700;
    text-align: center;
    margin:3em auto 1.25em;
}
button{
    font-size: 5em;
    background-color: #1A498F;
    color: white;
    border: 5px solid white;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 auto 3em;
    padding: .5em;
    cursor: pointer;
}

h1{
    font-size: 4em;
    font-weight: 400;
}
h3{
    font-size: 1.75em;
    padding: 0 1.2em 1em;
    font-weight: 900;
    margin-top: 0;
}
#game-container{
    background-color:white;
    max-width: 1200px;
    height:950px;
    margin: auto;
    text-align: center;
    display: none;
}
.game-name{
    font-family: 'DynaPuff';
    background-color:beige;
    padding:1em 1.2em .8em;
}
.players{
    font-family: 'Aboreto', cursive;
    font-size: 2em;
    padding: 0.5em;
}
#rules{
    font-family: 'DynaPuff';
    font-size: 3em;
    color:white;
    font-weight: 500;
    padding: 1em 2.5em 0;
    word-spacing: 2mm;
    line-height: 2in;
    text-align: center;
    display: none;
}
.instruction{
    font-family: 'Inknut Antiqua', serif;
    font-size: 1.5em;
    color:#1A498F;
}
.score--board{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding: 2em;
}
.score--board > div{
    flex: 1 1 auto;
    padding: 1em;
}
.images{
    display: flex;
    justify-content: center;
    align-content: center;
    margin:1em auto;
    width: 50%;
    gap: 1em;
    padding: 1em 2em;
    background-color: #1A498F;
}
img{
    width: 30%;
    flex: 1 1 auto;
    border: 1px solid saddlebrown;
}

#rock, #paper, #scissor{
    cursor: pointer;
}
.points{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    font-weight: 500;
    padding: 1em;
}
#game-status{
    margin-top: 0;
    padding-top: 0;
}
#selected-tools{
    max-width: 400px;
    margin: 0 auto;
    padding-top: 0;
}
.tool{
    border: none;
    padding: 0 1em;
    margin-top: 0;
}
#replay{
    margin: 0;
    margin-left:78%;
    font-size: 1.4em;
    text-align: center;
    margin-bottom: .2em;
    border-color:#1A498F;
    color: #1A498F;
    background-color: white;
    font-weight: bold;
    display: none;
}
/* footer{
    background-color: beige;
    padding: 2em;
} */