

@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1A498F;
    font-family: 'Aboreto', cursive;
    font-size: 1.25em;
}
h1{
    font-size: 4em;
    font-weight: 400;
}
h3{
    font-size: 1.75em;
    padding: 0 1.25em 1.5em;
    font-weight: 900;
}
.container{
    background-color:white;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.game-name{
    font-family: 'DynaPuff', cursive;
    background-color: beige;
    padding:1em 1.2em .8em;
}
.players{
    font-family: 'Aboreto', cursive;
    font-size: 2em;
    padding: 0.5em;
}
.rules{
    font-family: 'DynaPuff';
    color: #1A498F;
    font-weight: 500;
    padding: 1em 2.5em 0;
    word-spacing: 2mm;
    line-height: .4in;
}
.instruction{
    font-family: 'Inknut Antiqua', serif;
    font-size: 1.5em;
    color: saddlebrown;
}
.game-ground{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.game-ground > div{
    flex: auto;
    padding: 1em;
}
.images{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    width: 45%;
    gap: 1em;
    padding: 1em 2em;
}
img{
    width: 60%;
    flex-grow: 1;
    flex-shrink: 2;
    flex-basis: auto;
    border: 1px solid saddlebrown;

}
.points{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: 500;
    padding: 1em;
}
footer{
    background-color: beige;
    padding: 1.5em;
}